-----BEGIN CERTIFICATE-----
MIIEKzCCAxOgAwIBAgIUGsFZ6vNfkkXjF041Cc80Grz8/zkwDQYJKoZIhvcNAQEL
BQAwgaQxCzAJBgNVBAYTAkNBMQswCQYDVQQIDAJPTjEPMA0GA1UEBwwGT3R0YXdh
MSMwIQYDVQQKDBpEaWdpdGFsIEdvdmVybmFuY2UgQ291bmNpbDEjMCEGA1UECwwa
Q29uZm9ybWl0eSBBc3Nlc3NtZW50IEJvZHkxDDAKBgNVBAMMA0RHQzEfMB0GCSqG
SIb3DQEJARYQaW5mb0BkZ2MtY2duLm9yZzAeFw0yNDAxMzExMzM3NTBaFw0yNDAz
MDExMzM3NTBaMIGkMQswCQYDVQQGEwJDQTELMAkGA1UECAwCT04xDzANBgNVBAcM
Bk90dGF3YTEjMCEGA1UECgwaRGlnaXRhbCBHb3Zlcm5hbmNlIENvdW5jaWwxIzAh
BgNVBAsMGkNvbmZvcm1pdHkgQXNzZXNzbWVudCBCb2R5MQwwCgYDVQQDDANER0Mx
HzAdBgkqhkiG9w0BCQEWEGluZm9AZGdjLWNnbi5vcmcwggEiMA0GCSqGSIb3DQEB
AQUAA4IBDwAwggEKAoIBAQC3sOcMbI2Te2RHuOw7ud0kpCOudSXE8fDliDbbWktB
Q2AY3UY7Z4xGlDjQF7hD3zSwNWgW5mCPzJ1zL/iHikdVy9PAiugD+7ViCXCyDRwF
W1gvZVEMTU3ERpg2cG1RHekNJ97+WNjSCO7B+dwbwcT0iOoZxXsKdqZOns2x5Jc9
xcUDD3He0jRZ86B0n6vuqfu76ktT1GAk+hG5zS5bhC5o+razJKAdKuIUSACkIdzb
QpDQP/HYyAEhL/8D8SlYrzFphGI9mGH76lxzl5cpbmjOM26454cZ9AAp09ZIFnTi
B03KUTKD2IpnE9ijlOh3ddix3W4m3lKpxuJg9g0GkkVpAgMBAAGjUzBRMB0GA1Ud
DgQWBBQGLAzFIOmYMzVz1tKmisl3LqByKzAfBgNVHSMEGDAWgBQGLAzFIOmYMzVz
1tKmisl3LqByKzAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQAa
Bd5/NCrLzFz8VsV61uqyFpxUChTELvMMRacHs/6MnscZ9vvhaA/fEq4NtvygND72
ga7Rpjh3cR/pUeUZ8e8Z6hs89Ayy/hTJn6sO4lRciVxLR6aLWry3KpYumpLTeC3X
rWF2ZUBpiRZfMwP4m0V0ggEeOlwa8XqaBL8hIjUwYoBybH1O8KYB7BsgADfaNL9n
bHR0KXHAFycmMNo2WZy7ZZj2pjv9sSY7DS/bycM3mmwvNKqXYnXB+9NX+jHMev+K
WLL7nOqN2xiWGu0dTPzeijj17eyAINMC+jp1H0WFhhgTSFmmQrYJtu8LIye4fmt3
/o1hxqU7ufp0p94wSRM0
-----END CERTIFICATE-----
