
*$py.class
*.html
*.pdf
*.py[cod]
*.pyc
*.redxml
*.swp
*.txt
*.upload
*~
.env
.tags
.venv
/*-[0-9][0-9].xml
/.gems/
/.refcache
/.targets.mk
/.venv/
/.vscode/
/lib
/node_modules/
/sandbox/*.key
/sandbox/*.pem
/sandbox/*.private
/sandbox/app/data/*.json
/versioned/
Gemfile.lock
__pycache__/
archive.json
draft-carter-high-assurance-did-web.xml
draft-ietf-high-assurance-dids-with-dns.xml
package-lock.json
report.xml
sandbox/app/__pycache__/
sandbox/app/__pycache__/main.cpython-310.pyc
!requirements.txt
