__pycache__/
*.py[cod]
*$py.class
sandbox/app/__pycache__/
*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*.pyc
.tags
/*-[0-9][0-9].xml
/.gems/
/.refcache
/.targets.mk
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
draft-carter-high-assurance-did-web.xml
package-lock.json
report.xml
!requirements.txt
/sandbox/*.key
/sandbox/*.private
/sandbox/*.pem
/sandbox/app/data/*.json
.env


sandbox/app/__pycache__/main.cpython-310.pyc
